/*
    It might happen that Summernote CSS will be loaded before bootstrap css,
    (e.g. when bootstrap is loaded directly from project) so we need to bump
    specificity for some styles.
*/
.unicomponent__summernote .note-toolbar {
    margin: 0;
}

.unicomponent__summernote .note-toolbar > .btn-group {
    margin-left: 0;
}
div.note-popover .popover > div.arrow {
    left: 20px;
}
