<template name="UniCMSComponentSummernoteInput">
    <div class="unicomponent__summernote">
        <div {{atts}}>{{{value}}}</div>
    </div>
</template>

<template name="UniCMSComponentSummernoteOutput">{{{this}}}</template>
